---
BasedOnStyle: Google
AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Right
AlignOperands: AlignAfterOperator
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakBeforeMultilineStrings: false
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: All
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
ColumnLimit: 120
IndentExternBlock: Indent
IndentPPDirectives: AfterHash
IndentRequiresClause: false
IndentWidth: 4
PackConstructorInitializers: CurrentLine
PointerAlignment: Right
ShortNamespaceLines: 0
SpacesInContainerLiterals: false
Standard: Latest
TabWidth: 4
